:root {
    --main-color: #2196f3;
    --main-color2: rgb(37, 190, 144);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

.color-red {
    color: red
}

.color-green {
    color: green
}

.color-blue {
    color: blue
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lvls h3 {
    margin: 10px;
    font-size: 30px;
    padding: 0 10px;
    width: 120px;
    border-radius: 10px 5px 100px 5px;
    color: #ffffff;
    background-color: aquamarine;

}

.lvls form {
    display: flex;
    margin: 15px;
    gap: 10px;
    font-size: 25px;

}

.lvls {
    margin: 0 60px;
}


.game {
    background-color: #eee;
    min-height: 100vh;
}

.name {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    background-color: var(--main-color);
    font-weight: bold;
    color: white;

}

.container {

    margin: auto;
    max-width: 900px;
}

.massage {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    text-align: center;

}

.massage span {
    font-weight: bold;
    color: #21bdb7;
}

.massage span::after {
    content: " ]";
}

.massage span::before {
    content: "[ ";
}

.start {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--main-color2);
    color: white;
    cursor: pointer;
    border-radius: 15px 5px;
}

.start:active {
    background-color: rgb(4, 88, 49);
}

.the-word {

    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--main-color);
    user-select: none;
    margin: 10px;



}

.red {
    color: red;
}

#typing {
    margin: 5px auto;
    width: 100%;
    padding: 15px;
    border: 3px solid var(--main-color);
    outline: none;
    border-radius: 100px;
    text-align: center;
    font-size: 20px;
    caret-color: var(--main-color);
}

.uncomig-words {
    background-color: white;
    margin: 15px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--main-color2);
    border-radius: 100px;
    justify-content: center;
}

.uncomig-words div {
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
    margin: 5px;
    font-weight: bold;
    user-select: none;
    border-radius: 100px;
}

.control {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
    line-height: 50px;
    border-radius: 5px 15px;
    border: 1px solid var(--main-color);

}

.control span {
    font-weight: bold;
    color: rgb(37, 190, 144);
    font-size: 40px;
}

.finish {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #9c9c9c5c;
    width: 100%;
    height: 100%;
    padding: 50% 0;
    display: none;
}

.finish .good {
    color: rgb(32, 211, 32)
}

.finish .bad {
    color: red;

}

.reset {
    padding: 5px 10px;
    border-radius: 10px 5px;
    top: -15px;
    position: relative;
    color: red;
    font-weight: bold;
}

.arow {
    position: absolute;
    font-size: 90px;
    transform: rotateY(169deg) rotate(326deg) translate(-250px, 10px);
    animation: shake .4s infinite;
    color: #21bdb7;
    display: none;

}

@keyframes shake {

    0% {
        transform: rotateY(169deg) rotate(326deg) translate(-250px, 10px);
        color: #31bbb6;
    }

    25% {
        transform: rotateY(169deg) rotate(326deg) translate(-245px, 10px);
        color: #108df3;
    }

    50% {
        transform: rotateY(169deg) rotate(326deg) translate(-250px, 10px);
        color: #31bbb6;
    }

    75% {
        transform: rotateY(169deg) rotate(326deg) translate(-245px, 10px);
        color: #108df3;
    }

    100% {
        transform: rotateY(169deg) rotate(326deg) translate(-250px, 10px);
        color: #31bbb6;
    }

}

@media(max-width : 300px) {
    .control {
        flex-direction: column;
    }
}